.toast-primary
  background: $blue-100
  border-color: $blue-200

.toast-danger
  background: $red-100
  border-color: $red-200

.toast-success
  background: $green-100
  border-color: $green-200

.toast-warning
  background: $yellow-100
  border-color: $yellow-200