@import './mixin'
@import '~swiper/swiper'
@import './components/front-nav'
@import './components/cart'
@import './components/front-products'
@import './components/front-product'
*
  // outline: 1px solid red

.container
  position: relative
  +media-breakpoint-up(md)
    max-width: 1040px

.min-height
  min-height: calc(100vh - 136px)
  +media-breakpoint-up(md)
    min-height: calc(100vh - 72px - 136px)

.front
  background: $warm
  .fade-out
    opacity: 0
    transform: translateY(10%)
    transition: all 1s
  .fade-in
    opacity: 1
    transform: translateY(0%)
    transition: all 1s
    transition-delay: .25s

.front .form-control
  background: transparent
  border-radius: 0
  border: 1px solid rgba($light, .2)
  text-align: center
  color: $light
  font-weight: 300
  padding: .6rem
  &::after
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
  &:focus, &:hover
    color: $light
    box-shadow: none
    background: transparent
    outline: 0
    border-color: rgba($light, .6)

.front .panya-input
  border: 1px solid $gray-500
  color: $blue-400
  font-weight: 500
  padding: 1rem
  &:focus, &:hover
    color: $primary
    border-color: $primary

.front input:disabled
  color: $blue-300
  border-color: $gray-500
  &:focus, &:hover
    color: $blue-300
    border-color: $gray-500

.front form .panya-input
  text-align: left
  padding: .3rem
  font-weight: 400

.front .btn
  letter-spacing: 2px
  border-radius: 0 !important
  &-light
    &:hover
      background: $primary
      border-color: $primary
      color: $white

.bg-cover
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  position: relative
  display: flex
  align-items: center
  justify-content: center
  +media-breakpoint-up(md)
    background-attachment: fixed
  & > *
    z-index: 2
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1

.banner
  background-image: url('https://images.pexels.com/photos/1963999/pexels-photo-1963999.jpeg') 
  &::after
    background: linear-gradient(180deg, $warm 0%, $brown 100%)
    opacity: .2
  h1
    text-shadow: 0 1px 3px rgba($brown, .3)

.booking
  background-image: url('https://images.pexels.com/photos/6287221/pexels-photo-6287221.jpeg')
  .form-control
    border-color: rgba($white, .5)
  &::after
    background: $dark
    opacity: .5

.front
  .cookie
    color: lighten($brown, 50%)

.header
  background: rgba(lighten($brown, 60%), .6)
  padding: 3rem 0 0
  text-align: center
  position: relative
  +media-breakpoint-up(md)
    padding: 5rem 5rem 7.5rem
  &-img
    width: 100%
    height: 10rem
    margin-top: 2.5rem
    background-position: center 35%
    background-size: cover
    background-repeat: no-repeat
    +media-breakpoint-up(md)
      height: 17.5rem
      margin-bottom: -17.5rem
  & + .container
    margin-top: 2.5rem
    +media-breakpoint-up(md)
      margin-top: 12.5rem
      padding: 0 10rem

article
  line-height: $line-height-lg
  h2
    font-size: $h5-font-size
    color: $primary
  p + h2
    margin-top: 3rem

@keyframes fade-in
  0%
    opacity: 0
    transform: translateY(10%)
  100%
    opacity: 1
    transform: translateY(0%)

.steps
  li
    width: calc((100% - 2rem) / 3)
    background: rgba(lighten($brown, 60%), .6)
    padding: 1rem
    text-align: center
    color: $secondary
    & + li
      margin-left: 1rem
    &.active
      background: $primary
      color: $white
  small
    display: block
  span
    display: block
    