@import './mixin'
@import './components/front-nav'
@import './components/cart'
@import './components/front-products'
@import './components/front-product'
*
  // outline: 1px solid red

.container
  max-width: 940px
  position: relative

.front
  background: $warm

.front .form-control
  background: transparent
  border-radius: 0
  border: 1px solid rgba($light, .2)
  text-align: center
  color: $light
  font-weight: 300
  padding: .6rem
  &::after
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
  &:focus, &:hover
    color: $light
    box-shadow: none
    background: transparent
    outline: 0
    border-color: rgba($light, .6)

.front .panya-input
  border: 1px solid $gray-500
  color: $blue-400
  font-weight: 600
  padding: 1rem
  &:focus, &:hover
    color: $primary
    border-color: $primary

.front form .panya-input
  text-align: left
  padding: .3rem
  font-weight: 400

.front .btn
  letter-spacing: 2px
  border-radius: 0 !important
  &-light
    &:hover
      background: $primary
      border-color: $primary
      color: $white
  &.disabled
    opacity: .6
    cursor: default

.banner
  background: url('https://images.pexels.com/photos/1963999/pexels-photo-1963999.jpeg') no-repeat center center
  background-size: cover
  background-attachment: fixed
  position: relative
  & > *
    z-index: 2
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: linear-gradient(180deg, $warm 0%, $brown 100%)
    opacity: .2
    z-index: 1
  h1
    text-shadow: 0 1px 3px rgba($brown, .3)
